@{
    ViewBag.Title = "About";
}
<br />
<h2>@ViewBag.Title</h2>
<p class="lead">@ViewBag.Message</p>
<hr />
<p>
    This application was created for my Graded Unit Assessment as part of my Computing: Software Development
    course at Glasgow Clyde College.
</p>
