@{
    ViewBag.Title = "Contact";
}
<br />
<h2>@ViewBag.Title</h2>
<p class="lead">@ViewBag.Message</p>
<hr />
<address>
    19 Hatfield Drive<br />
    Anniesland<br />
    Glasgow<br />
    G12 0YE<br />
    Phone: 0141 272 9000
</address>

<address>
    <strong>Email</strong> <a href="mailto:ross@rocrmedia.com">ross@rocrmedia.com</a>
</address>