
@{
    ViewBag.Title = "Table Plan";
}
<br />
<h2>Table Plan</h2>
<p class="lead">
    An overall view of all tables in the restaurant, including table numbers and position
</p>
<img src="~/Content/img/table-plan.png" alt="roxys-diner-table-plan" class="img-fluid border border-secondary"/>